body {
  background-color: #bdbdbd;
}
.boxcontainer {
  background-color: #00bdbd; 
  text-align: center;
}
.navbar {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5px;
  gap: 10px;
}

h1 {
  color: #004e75;
}
.indexh1{
  font-family: 'Monsterrat', sans-serif;
  src: url(https://fonts.google.com/specimen/Montserrat)
}
.bodygrid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}