body {
  background-color: #bdbdbd;
}
.boxcontainer {
  background-color: #00bdbd; 
  text-align: center;
}
.navbar {
  display: inline-flex;
  width: 100%;
  justify-content: center;
  padding-bottom: 5px;
  gap: 10px;
}

h1 {
  color: #004e75;
}
.indexh1{
  font-family: 'Monsterrat', sans-serif;
  src: url(https://fonts.google.com/specimen/Montserrat)
}
.bodygrid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.course  {
  display: grid;
  grid-template-areas:
     'header header'
     'left left'
     'main main';
  gap: 10px;
  margin-top: 10px;
  border-bottom: 1px solid; 
}
@media only screen and (min-width: 600px) {
  .course {
      display: grid;
      grid-template-areas:
           'header header header header header header'
           'left main main main main main'
           'left main main main main main';
      gap: 10px;
      margin-top: 10px;
  }
}
.course-1 {
  grid-area: header;
}
.course-2 {
  grid-area: left;
}
.course-3 {
  grid-area: main;
}